<template>
  <v-layout row wrap>
    <v-flex xs12 class="pa-5">
      <v-layout v-if="loading">
        <Waiter :loader="'books loading'" />
      </v-layout>
      <v-layout v-else column wrap class="pa-2">
        <v-flex class="pa-5">
          <v-card>
            <v-card-title>
              Disponibilidade
            </v-card-title>
            <v-card-actions>
              <VueApexCharts
                type="pie"
                width="75%"
                :series="[ (availableBooks / allBooks) * 100, (reservedBooks / allBooks) * 100, (withdrawnedBooks / allBooks) * 100 ]"
                :options="options"
              />
            </v-card-actions>
          </v-card>
        </v-flex>
        <v-flex class="pa-5">
          <v-card>
            <v-card-title>
              Anos
            </v-card-title>
            <v-card-actions>
              <VueApexCharts
                type="pie"
                width="75%"
                :series="booksByYear.series"
                :options="{ 'labels': booksByYear.labels }"
              />
            </v-card-actions>
          </v-card>
        </v-flex>
        <v-flex class="pa-5">
          <v-card>
            <v-card-title>
              Editoras
            </v-card-title>
            <v-card-actions>
              <VueApexCharts
                type="pie"
                width="75%"
                :series="booksByPublishingCompany.series"
                :options="{ 'labels': booksByPublishingCompany.labels }"
              />
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
import { countBy, map } from 'lodash'
import { mapState, mapGetters, mapActions } from 'vuex'
import generateError from '~/static/js/generateError'

export default {
  data () {
    return {
      options: {
        labels: [
          'Disponíveis',
          'Reservados',
          'Emprestados'
        ]
      }
    }
  },
  computed: {
    ...mapState('books', { areBooksLoading: 'isFindPending' }),
    ...mapGetters('books', { findBooksInStore: 'find' }),
    loading () {
      return this.areBooksLoading
    },
    allBooks () {
      try {
        const all = this.findBooksInStore()
        return all.total
      } catch (error) {
        const e = generateError(error)
        this.$snotify.error(e.message, e.title)
        return 0
      }
    },
    availableBooks () {
      try {
        const available = countBy(this.findBooksInStore().data, function (book) {
          return book.reservation_date === null
        })
        return available.true - this.reservedBooks
      } catch (error) {
        const e = generateError(error)
        this.$snotify.error(e.message, e.title)
        return 0
      }
    },
    reservedBooks () {
      try {
        const reserved = countBy(this.findBooksInStore().data, function (book) {
          return book.reservation_date !== null
        })
        return reserved.true || 0
      } catch (error) {
        const e = generateError(error)
        this.$snotify.error(e.message, e.title)
        return 0
      }
    },
    withdrawnedBooks () {
      try {
        const withdrawned = countBy(this.findBooksInStore().data, function (book) {
          return book.withdrawn_date !== null
        })
        return withdrawned.true || 0
      } catch (error) {
        const e = generateError(error)
        this.$snotify.error(e.message, e.title)
        return 0
      }
    },
    booksByYear () {
      try {
        const books = countBy(this.findBooksInStore().data, 'year')
        return {
          series: map(books, (val, key) => {
            return (val / this.allBooks) * 100
          }),
          labels: map(books, function (val, key) {
            return key
          })
        }
      } catch (error) {
        const e = generateError(error)
        this.$snotify.error(e.message, e.title)
        return []
      }
    },
    booksByPublishingCompany () {
      try {
        const books = countBy(this.findBooksInStore().data, 'publishing_company')
        return {
          series: map(books, (val, key) => {
            return (val / this.allBooks) * 100
          }),
          labels: map(books, function (val, key) {
            return key
          })
        }
      } catch (error) {
        const e = generateError(error)
        this.$snotify.error(e.message, e.title)
        return []
      }
    }
  },
  watch: {
    loading (val) {
      if (!val) {
        this.$wait.end('books loading')
      }
    }
  },
  async created () {
    this.$wait.start('books loading')
    if (!this.$store.state.auth.user) {
      await this.authenticate({ strategy: 'jwt', accessToken: this.$store.state.auth.accessToken })
    }
    await this.findBooks({ query: { $limit: 100 } })
  },
  methods: {
    ...mapActions('auth', ['authenticate']),
    ...mapActions('books', { findBooks: 'find' })
  }
}
</script>
