<template>
  <v-layout column>
    <v-flex>
      <v-form>
        <v-layout row wrap>
          <v-flex
            v-for="model in items"
            :key="model.label"
            xs12
            class="px-6"
          >
            <v-text-field
              v-model="model.value"
              :rules="model.rules"
              :counter="model.counter"
              :label="model.label"
              :type="model.type"
              filled
              rounded
              dense
              required
            />
          </v-flex>
          <v-flex>
            <v-layout class="px-4">
              <v-flex
                v-for="action in actions"
                :key="action.text"
                xs6
                class="px-4"
              >
                <v-btn
                  :color="action.color"
                  @click.prevent="action.callback"
                >
                  {{ action.text }}
                </v-btn>
              </v-flex>
              <Waiter :loader="loader" />
            </v-layout>
          </v-flex>
        </v-layout>
      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      required: true
    },
    actions: {
      type: Array,
      required: true
    },
    loader: {
      type: String,
      required: true
    }
  }
}
</script>
