<template>
  <v-flex
    xs12
    class="pa-5"
    :disable="$wait.is(loader)"
  >
    <v-wait :for="loader">
      <template slot="waiting">
        <v-progress-circular indeterminate color="primary" />
      </template>
    </v-wait>
  </v-flex>
</template>

<script>
export default {
  props: {
    loader: {
      type: String,
      default: 'loading',
      required: true
    },
    width: {
      type: Number,
      default: 32
    },
    height: {
      type: Number,
      default: 32
    },
    src: {
      type: String,
      default: 'loading.gif'
    }
  }
}
</script>
