<template>
  <v-layout row wrap justify-center align-center>
    <v-flex xs12 sm8 md6>
      <v-card>
        <v-card-title>
          <h1 class="headline pa-5">
            Cadastre-se
          </h1>
        </v-card-title>
        <v-card-actions class="pa-5">
          <v-layout column>
            <v-flex>
              <v-layout>
                <v-flex>
                  <v-form v-model="valid">
                    <v-text-field
                      v-model="email.value.newer"
                      :rules="email.rules"
                      :counter="16"
                      label="Email"
                      :placeholder="computed_first_name"
                      :value="computed_first_name"
                    />
                    <v-text-field
                      v-model="last_name.value"
                      :rules="last_name.rules"
                      :counter="32"
                      label="Last Name"
                    />
                    <v-text-field
                      v-model="nick_name.value"
                      :rules="nick_name.rules"
                      :counter="8"
                      label="Nick"
                      required
                    />
                    <v-btn @click.prevent="edit">
                      Confirmar
                    </v-btn>
                  </v-form>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data: () => ({
    valid: false,
    first_name: {
      value: {
        old: computed_first_name,
        newer: ''
      },
      rules: [
        v => !!v || 'First Name is required',
        v => v.length <= 16 || 'First Name must have a maximum of 16 letters'
      ]
    },
    last_name: {
      value: '',
      rules: [
        v => !!v || 'Last Name is required',
        v => v.length <= 32 || 'Last Name must have a maximum of 32 letters'
      ]
    },
    nick_name: {
      value: '',
      rules: [
        v => !!v || 'Nick Name is required',
        v => v.length <= 8 || 'Nick Name must have a maximum of 8 letters'
      ]
    }
  }),
  methods: {
    async edit () {
      await this.$store.dispatch('users/patch', {
        first_name: this.$data.first_name.value,
        last_name: this.$data.last_name.value,
        nick_name: this.$data.nick_name.value
      })
      this.$router.push('/profile')
    }
  },
  computed: {
    computed_first_name () {
      return this.$store.state.auth.user.first_name
    },
    computed_last_name () {
      return this.$store.state.auth.user.last_name || ''
    },
    computed_nick_name () {
      return this.$store.state.auth.user.nick_name
    }
  }
}
</script>
