<template>
  <v-layout row wrap>
    <v-flex xs12 class="ma-2">
      <v-card>
        <v-card-title>
          <v-avatar size="65px">
            <img src="/default.png"></img>
          </v-avatar>
          <h1>
            {{ email }}
          </h1>
        </v-card-title>
        <v-card-subtitle> Aderiu em: {{ createdAt }} </v-card-subtitle>
        <v-card-subtitle> Última atualização: {{ updatedAt }} </v-card-subtitle>
        <v-card-actions>
          <v-btn color="green" to="/profile/edit">
            Editar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  computed: {
    email () {
      return this.$store.state.auth.user.email
    },
    createdAt () {
      return this.$store.state.auth.user.createdAt
    },
    updatedAt () {
      return this.$store.state.auth.user.updatedAt
    }
  }
}
</script>
