<template>
  <v-layout row wrap>
    <v-flex xs12 class="ma-12">
      <v-card>
        <v-card-title>
          Verifique o seu email
        </v-card-title>
        <v-card-subtitle>
          Não recebeu o email de verificação?
        </v-card-subtitle>
        <v-card-text>
          Clique no botão abaixo para solicitar nova verificação
        </v-card-text>
        <v-card-actions>
          <v-btn color="green" @click.prevent="resendVerifySignup">
            Enviar email
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  methods: {
    async resendVerifySignup (email) {
      try {
        const email = this.$store.state.auth.user.email
        await this.$store.dispatch('resendVerifySignup', email)
        this.$snotify.success(
          `verifique sua caixa de entrada em ${email}`,
          'Email re-enviado'
        )
      } catch (error) {
        const title = `Error ${error.code}:`
        const message = [
          `${error.name}:`,
          error.message
        ]
        for (const i in error.errors) {
          const e = error.errors[i]
          message.push(`${e.type} on ${e.path}`)
          message.push(`${e.message}`)
        }
        this.$snotify.error(
          message.join('\n'),
          title
        )
      }
    }
  }
}
</script>
