<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list v-if="authenticated" tile>
        <v-list-item-group>
          <v-list-item
            v-for="item in items.logged"
            :id="item.id"
            :key="item.id"
            @click.prevent="redirect(item.to)"
          >
            <v-list-item-icon>
              <v-icon> {{ item.icon }} </v-icon>
            </v-list-item-icon>
            <v-list-item-content v-if="item.to !== '/logout'">
              <v-list-item-title aria-label="item.text">
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
            <v-list-item-content v-else>
              <v-list-item-title aria-label="item.text">
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
      <v-list v-if="!authenticated" tile>
        <v-list-item-group aria-label="menu" role="">
          <v-list-item
            v-for="item in items.notLogged"
            :id="item.id"
            :key="item.id"
            aria-label="menu"
            role=""
            @click.prevent="redirect(item.to)"
          >
            <v-list-item-icon>
              <v-icon> {{ item.icon }} </v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title aria-label="item.text">
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
    >
      <v-app-bar-nav-icon
        id="hamburguer"
        aria-label="menu"
        @click.stop="drawer = !drawer"
      />
      <v-btn
        icon
        aria-label="menu"
        @click.stop="miniVariant = !miniVariant"
      >
        <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>
      <v-toolbar-title v-text="title" />
      <v-spacer />
    </v-app-bar>
    <v-main>
      <v-container>
        <v-spacer />
        <vue-snotify />
        <Nuxt />
      </v-container>
    </v-main>
    <v-footer
      :absolute="!fixed"
      app
    >
      <span>&copy; {{ new Date().getFullYear() }} </span>
    </v-footer>
  </v-app>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data () {
    return {
      items: {
        notLogged: [
          { text: 'Home', id: 'home', icon: 'mdi-home', to: '/' },
          { text: 'Login', id: 'login', icon: 'mdi-account-arrow-right', to: '/login' },
          { text: 'Cadastro', id: 'signup', icon: 'mdi-account-plus', to: '/signup' }
        ],
        logged: [
          { text: 'Perfil', id: 'profile', icon: 'mdi-account-circle', to: '/profile' },
          { text: 'Livros', id: 'books', icon: 'mdi-book-open-variant', to: '/books' },
          { text: 'Estatísticas', id: 'books', icon: 'mdi-chart-pie', to: '/statistics' },
          { text: 'Configurações', id: 'settings', icon: 'mdi-cogs', to: '/settings' },
          { text: 'Logout', id: 'logout', icon: 'mdi-account-arrow-left', to: '/logout' }
        ]
      },
      clipped: false,
      drawer: true,
      fixed: false,
      miniVariant: false,
      title: 'Bibliwebteca'
    }
  },
  computed: {
    authenticated () {
      return this.$store.state.auth.accessToken
    }
  },
  methods: {
    ...mapActions('auth', ['authenticate', 'logout']),
    redirect (to) {
      try {
        if (to !== '/logout') {
          this.$router.push(to)
        } else {
          this.logout()
          this.$snotify.success(
            'Sucessfully logged out',
            'Logged out'
          )
          this.$router.push('/')
        }
      } catch (error) {
        this.$snotify.error(error.message, error.name)
      }
    }
  }
}
</script>

<style lang="scss">
  .accessibility-fontsize-sm {
    font-size: 0.75rem !important;
  }
  .accessibility-fontsize-md {
    font-size: 1rem !important;
  }
  .accessibility-fontsize-lg {
    font-size: 1.25rem !important;
  }
</style>
