<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <v-img
          :src="require('../assets/Bookshelf_icon.png')"
          class="my-3"
          contain
          height="200"
        />
      </v-col>

      <v-col class="mb-4" cols="12">
        <p class="subheading font-weight-regular">
          Este é um protótipo de software para auxiliar uma biblioteca a divulgar seu acervo e controlar os empréstimos de livros, desenvolvido utilizando um framework web, script web, API e nuvem, além de um banco de dados para armazenar as informações referentes aos livros e aos empréstimos destes.
        </p>
      </v-col>
    </v-row>
  </v-container>
</template>
