<template>
  <v-layout
    row
    wrap
    justify-center
    align-center
    class="pa-5"
    @keyup.enter="login"
  >
    <v-flex xs12 sm8 md6>
      <v-card>
        <v-card-title>
          <h1 class="headline pa-5">
            Login
          </h1>
        </v-card-title>
        <v-card-actions class="pa-5">
          <v-layout column>
            <v-flex>
              <v-layout row wrap>
                <v-flex xs12>
                  <Authform
                    :items="forms"
                    :actions="[{ text: 'Login', color: 'green', callback: login }, { text: 'Cadastrar', color: 'blue', callback: signup }]"
                    loader="login"
                  />
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs12 class="px-1 pt-7">
                  <a href="/reset/pwd"> Esqueceu sua senha? </a>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import generateError from '~/static/js/generateError'
import authform from '~/static/js/authform'

export default {
  data () {
    return authform
  },
  methods: {
    async login () {
      this.$wait.start('login')
      try {
        await this.$store.dispatch('auth/authenticate', {
          strategy: 'local',
          email: this.$data.forms[0].value,
          password: this.$data.forms[1].value
        })
        this.$wait.end('login')
        this.$snotify.success(`Bem vindo ${this.$store.state.auth.user.email}`)
        this.$router.push('/profile')
      } catch (error) {
        const e = generateError(error)
        this.$snotify.error(e.message, e.title)
        this.$wait.end('login')
      }
    },
    signup () {
      this.$router.push('/signup')
    }
  }
}
</script>
