<template>
  <v-layout
    row
    wrap
    justify-center
    align-center
    class="pa-5"
    @keyup.enter="signup"
  >
    <v-flex xs12 sm8 md6>
      <v-card>
        <v-card-title>
          <h1 class="headline pa-5">
            Cadastre-se
          </h1>
        </v-card-title>
        <v-card-actions class="pa-5">
          <v-layout column>
            <v-flex>
              <v-layout row wrap>
                <v-flex xs12>
                  <Authform
                    :items="forms"
                    :actions="[{ text: 'Cadastrar', color: 'green', callback: signup}, { text: 'Login', color: 'blue', callback: login }]"
                    loader="signup"
                  />
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import generateError from '~/static/js/generateError'
import authform from '~/static/js/authform'

export default {
  data () {
    return authform
  },
  methods: {
    async signup () {
      this.$wait.start('signup')
      try {
        await this.$store.dispatch('users/create', {
          email: this.$data.forms[0].value,
          password: this.$data.forms[1].value
        })
        this.$snotify.success(`Usuário criado ${this.$data.forms[0].value} criado`)
        this.$wait.end('signup')
        this.$router.push('/login')
      } catch (error) {
        const e = generateError(error)
        this.$snotify.error(e.message, e.title)
        this.$wait.end('signup')
      }
    },
    login () {
      this.$router.push('/login')
    }
  }
}
</script>
