<template>
  <v-layout row wrap>
    <v-flex xs12 class="ma-2">
      <v-card>
        <v-card-title>
          <h1>
            Temas
          </h1>
        </v-card-title>
        <v-card-actions>
          <v-layout row wrap>
            <v-flex xs12 class="pa-6">
              <v-btn @click.prevent="setTheme('dark')">
                <v-icon> mdi-weather-night </v-icon>
              </v-btn>
              Noturno
            </v-flex>
            <v-flex xs12 class="pa-6">
              <v-btn @click.prevent="setTheme('light')">
                <v-icon> mdi-weather-sunny </v-icon>
              </v-btn>
              Diurno
            </v-flex>
          </v-layout>
        </v-card-actions>
      </v-card>
    </v-flex>
    <v-flex xs12 class="ma-2">
      <v-card>
        <v-card-title>
          <h1> Fonte </h1>
        </v-card-title>
        <v-card-actions>
          <v-layout row wrap>
            <v-flex xs12 class="pa-6">
              <v-btn @click.prevent="setFontsize('sm')">
                SM
              </v-btn>
              Pequeno
            </v-flex>
            <v-flex xs12 class="pa-6">
              <v-btn @click.prevent="setFontsize('md')">
                MD
              </v-btn>
              Médio
            </v-flex>
            <v-flex xs12 class="pa-6">
              <v-btn @click.prevent="setFontsize('lg')">
                LG
              </v-btn>
              Grande
            </v-flex>
          </v-layout>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { each } from 'lodash'

export default {
  methods: {
    setTheme (theme) {
      if (theme === 'dark') {
        this.$vuetify.theme.dark = true
      }
      if (theme === 'light') {
        this.$vuetify.theme.dark = false
      }
    },
    setFontsize (type) {
      each(['sm', 'md', 'lg'], function (f) {
        document.getElementById('app').classList.remove(`accessibility-fontsize-${f}`)
      })
      document.getElementById('app').classList.add(`accessibility-fontsize-${type}`)
    }
  }
}
</script>
