<template>
  <v-layout row wrap>
    <v-flex xs12 class="pa-5">
      <v-layout v-if="loading">
        <Waiter :loader="'book loading'" />
      </v-layout>
      <v-layout v-else row wrap>
        <v-flex>
          <v-toolbar
            dark
            flat
            color="grey darken-3"
            class="mb-1"
          >
            <v-toolbar-title> {{ book.title }} </v-toolbar-title>
          </v-toolbar>
          <v-spacer />
          <v-card>
            <v-card-text>
              <v-list dense>
                <v-list-item-group>
                  <v-list-item
                    v-for="item in book.items"
                    :key="item.label"
                  >
                    <v-list-item-icon>
                      <v-icon> {{ item.icon }} </v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title>
                        <b> {{ item.label }} </b>: {{ item.content }}
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
import { map } from 'lodash'
import { mapState, mapGetters, mapActions } from 'vuex'
// import generateError from '~/static/js/generateError'

const fields = 'author publishing_company year edition isbn pages subject reservation_date withdrawn_date return_date'.split(' ')

export default {
  computed: {
    ...mapState('books', { areBooksLoading: 'isFindPending' }),
    ...mapGetters('books', { getBookInStore: 'get' }),
    loading () {
      return this.areBooksLoading
    },
    book () {
      const book = this.getBookInStore(this.$route.params.id)
      return {
        title: book.title,
        items: map(fields, function (f) {
          let icon = ''
          let label = ''
          let content = book[f]
          if (f === 'author') {
            icon = 'mdi-account-box-outline'
            label = 'Autor'
          }
          if (f === 'publishing_company') {
            icon = 'mdi-home-circle'
            label = 'Editora'
          }
          if (f === 'year') {
            icon = 'mdi-calendar-range'
            label = 'Ano'
          }
          if (f === 'edition') {
            icon = 'mdi-book-edit'
            label = 'Edição'
          }
          if (f === 'isbn') {
            icon = 'mdi-numeric'
            label = 'ISBN'
          }
          if (f === 'pages') {
            icon = 'mdi-book-open-page-variant'
            label = 'Páginas'
          }
          if (f === 'subject') {
            icon = 'mdi-message-bookmark'
            label = 'Assunto'
          }
          if (f === 'reservation_date') {
            icon = 'mdi-lifebuoy'
            label = 'Reserva'
            content = book[f] ? 'Reservado' : 'Disponível'
          }
          if (f === 'withdrawn_date') {
            icon = 'mdi-arrow-right-thin-circle-outline'
            label = 'Retirada'
            content = book[f] ? 'Retirado' : 'Disponível'
          }
          if (f === 'return_date') {
            icon = 'mdi-arrow-left-thin-circle-outline'
            label = 'Retorno'
            content = book[f] ? book[f] : 'Disponível'
          }
          return {
            icon,
            label,
            content
          }
        })
      }
    }
  },
  watch: {
    loading (val) {
      if (!val) {
        this.$wait.end('book loading')
      }
    }
  },
  async created () {
    this.$wait.start('book loading')
    if (!this.$store.state.auth.user) {
      await this.authenticate({ strategy: 'jwt', accessToken: this.$store.state.auth.accessToken })
    }
    await this.getBook(this.$route.params.id)
  },
  methods: {
    ...mapActions('auth', ['authenticate']),
    ...mapActions('books', { getBook: 'get' })
  }
}
</script>
