<template>
  <v-layout row wrap>
    <v-flex xs12 class="pa-5">
      <v-layout v-if="loading">
        <Waiter :loader="'books loading'" />
      </v-layout>
      <v-layout v-else row wrap>
        <v-text-field
          v-model="search"
          placeholder="Procurar"
          class="expanding-search pa-2"
          prepend-inner-icon="mdi-magnify"
          :class="{ 'closed': searchClosed && !search }"
          large
          dense
          clearable
          @focus="searchClosed = false"
          @blur="searchClosed = true"
          @keyup.enter="findBooksInStore({ title: search })"
        />
        <v-container fluid>
          <v-data-iterator :items="books">
            <template #header>
              <v-toolbar
                dark
                flat
                color="grey darken-3"
                class="mb-1"
              >
                <v-toolbar-title> Livros </v-toolbar-title>
                <v-spacer />
                <v-btn
                  large
                  depressed
                  color="green lighter-1"
                  @click="to('books/statistics')"
                >
                  <v-icon> mdi-book-plus </v-icon>
                  Estatísticas
                </v-btn>
                <v-btn
                  v-if="canCreateBook"
                  large
                  depressed
                  color="green lighter-1"
                  @click="to('books/new')"
                >
                  <v-icon>mdi-book-plus</v-icon>
                  Novo livro
                </v-btn>
              </v-toolbar>
            </template>
            <template #default="props">
              <v-card
                v-for="item in props.items"
                :key="item.id"
                class="my-2"
              >
                <v-card-text>
                  <v-list dense>
                    <v-list-item-group>
                      <v-list-item>
                        <v-list-item-content>
                          <v-list-item-title>
                            <h3> {{ item.title }} </h3>
                          </v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                      <v-list-item>
                        <v-list-item-action>
                          <v-layout row wrap>
                            <v-flex class="ma-2">
                              <v-btn
                                small
                                @click.prevent="to(`/books/${item.id}`)"
                              >
                                <v-icon>mdi-eye</v-icon>
                                Visualizar dados
                              </v-btn>
                            </v-flex>
                            <v-flex v-if="canEditBook" class="ma-2">
                              <v-btn
                                small
                                @click.prevent="to(`/books/edit?id=${item.id}`)"
                              >
                                <v-icon>mdi-lead-pencil</v-icon>
                                Editar dados
                              </v-btn>
                            </v-flex>
                            <v-flex v-if="canRemoveBook" class="ma-2">
                              <v-btn
                                small
                                @click.prevent="remove(item.id)"
                              >
                                <v-icon>mdi-trash-can</v-icon>
                                Remover livro
                              </v-btn>
                            </v-flex>
                            <v-flex v-if="canReserveBook(item.id)" class="ma-2">
                              <v-btn
                                small
                                @click.prevent="reserve(item.id)"
                              >
                                <v-icon>mdi-lifebuoy</v-icon>
                                Reservar livro
                              </v-btn>
                            </v-flex>
                            <v-flex v-if="canWithdrawnBook(item.id)" class="ma-2">
                              <v-btn
                                small
                                @click.prevent="withdrawn(item.id)"
                              >
                                <v-icon>mdi-arrow-right-thin-circle-outline</v-icon>
                                Retirar livro
                              </v-btn>
                            </v-flex>
                            <v-flex v-if="canReturnBook(item.id)" class="ma-2">
                              <v-btn
                                small
                                @click.prevent="_return(item.id)"
                              >
                                <v-icon>mdi-arrow-left-thin-circle-outline</v-icon>
                                Devolver livro
                              </v-btn>
                            </v-flex>
                          </v-layout>
                        </v-list-item-action>
                      </v-list-item>
                      <v-list-item>
                        <v-list-item-icon>
                          <v-icon> mdi-account-box-outline </v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                          <v-list-item-title> <b>Autor</b>: {{ item.author }} </v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                      <v-list-item>
                        <v-list-item-icon>
                          <v-icon> mdi-book </v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                          <v-list-item-title> <b>Editora</b>: {{ item.publishing_company }} </v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                      <v-list-item>
                        <v-list-item-icon>
                          <v-icon> mdi-calendar-range </v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                          <v-list-item-title> <b>Ano</b>: {{ item.year }} </v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                      <v-list-item>
                        <v-flex v-if="canReserveBook(item.id)">
                          <v-chip
                            class="ma-2"
                            color="green"
                            text-color="white"
                          >
                            Disponível
                          </v-chip>
                          <v-chip
                            class="ma-2"
                            color="blue"
                            text-color="white"
                          >
                            Ultima atualização: {{ getDate('updatedAt', item.id) }}
                          </v-chip>
                        </v-flex>
                        <v-flex v-if="canWithdrawnBook(item.id)">
                          <v-chip
                            class="ma-2"
                            color="orange"
                            text-color="white"
                          >
                            Reservado
                          </v-chip>
                          <v-chip
                            class="ma-2"
                            color="blue"
                            text-color="white"
                          >
                            Data limite: {{ getDate('reservation_date', item.id) }}
                          </v-chip>
                        </v-flex>
                        <v-flex v-if="canReturnBook(item.id)">
                          <v-chip
                            class="ma-2"
                            color="red"
                            text-color="white"
                          >
                            Emprestado em {{ getDate('withdrawn_date', item.id) }}
                          </v-chip>
                          <v-chip
                            class="ma-2"
                            color="blue"
                            text-color="white"
                          >
                            Data de entrega: {{ getDate('return_date', item.id) }}
                          </v-chip>
                        </v-flex>
                      </v-list-item>
                    </v-list-item-group>
                  </v-list>
                </v-card-text>
              </v-card>
            </template>
          </v-data-iterator>
        </v-container>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
import { includes } from 'lodash'
import { mapState, mapGetters, mapActions } from 'vuex'
import generateError from '~/static/js/generateError'

export default {
  data () {
    return {
      searchClosed: true,
      search: ''
    }
  },
  computed: {
    ...mapState('books', { areBooksLoading: 'isFindPending' }),
    ...mapGetters('books', { findBooksInStore: 'find' }),
    loading () {
      return this.areBooksLoading
    },
    books () {
      if (this.search === '') {
        return this.findBooksInStore().data
      } else {
        try {
          return this.findBooksInStore({
            query: {
              title: {
                $regex: new RegExp(`${this.search}*`)
              }
            }
          }).data
        } catch (error) {
          const e = generateError(error)
          this.$snotify.error(e.message, e.title)
          return this.findBooksInStore().data
        }
      }
    },
    canCreateBook () {
      return includes(this.$store.state.auth.user.permissions, 'books:create')
    },
    canEditBook () {
      return includes(this.$store.state.auth.user.permissions, 'books:update')
    },
    canRemoveBook () {
      return includes(this.$store.state.auth.user.permissions, 'books:remove')
    }
  },
  watch: {
    loading (val) {
      if (!val) {
        this.$wait.end('books loading')
      }
    }
  },
  async created () {
    this.$wait.start('books loading')
    if (!this.$store.state.auth.user) {
      await this.authenticate({ strategy: 'jwt', accessToken: this.$store.state.auth.accessToken })
    }
    await this.findBooks()
  },
  methods: {
    ...mapActions('auth', ['authenticate']),
    ...mapActions('books', { findBooks: 'find', patchBook: 'patch', removeBook: 'remove' }),
    to (path) {
      return this.$router.push(path)
    },
    canReserveBook (id) {
      const canPatch = includes(this.$store.state.auth.user.permissions, 'books:patch')
      const book = this.findBooksInStore({
        $limit: 1,
        query: { id }
      }).data[0]
      return canPatch &&
        book.userId === null &&
        book.reservation_date === null
    },
    canWithdrawnBook (id) {
      const canPatch = includes(this.$store.state.auth.user.permissions, 'books:patch')
      const book = this.findBooksInStore({
        $limit: 1,
        query: { id }
      }).data[0]
      return canPatch &&
        book.userId === this.$store.state.auth.user.id &&
        book.reservation_date !== null &&
        book.withdrawn_date === null
    },
    canReturnBook (id) {
      const canPatch = includes(this.$store.state.auth.user.permissions, 'books:patch')
      const book = this.findBooksInStore({
        $limit: 1,
        query: { id }
      }).data[0]
      const canReturn = canPatch &&
        book.userId === this.$store.state.auth.user.id &&
        book.return_date !== null
      return canReturn
    },
    getDate (type, id) {
      const book = this.findBooksInStore({
        $limit: 1,
        query: { id }
      }).data[0]
      return this.$dayjs(book[type]).format('DD/MM/YY - HH:mm')
    },
    async reserve (id) {
      try {
        const res = await this.patchBook([id, { action: 'reserve' }])
        const msg = `Livro "${res.title}" reservado`
        this.$snotify.success(msg, 'Sucesso')
      } catch (error) {
        const e = generateError(error)
        this.$snotify.error(e.message, e.title)
      }
    },
    async withdrawn (id) {
      try {
        const res = await this.patchBook([id, { action: 'withdrawn' }])
        const msg = `Livro "${res.title} retirado"`
        this.$snotify.success(msg, 'Sucesso')
      } catch (error) {
        const e = generateError(error)
        this.$snotify.error(e.message, e.title)
      }
    },
    async _return (id) {
      try {
        const res = await this.patchBook([id, { action: 'return' }])
        const msg = `Livro "${res.title} retirado"`
        this.$snotify.success(msg, 'Sucesso')
      } catch (error) {
        const e = generateError(error)
        this.$snotify.error(e.message, e.title)
      }
    },
    async remove (id) {
      try {
        const res = await this.removeGrade([id])
        const msg = `Livro ${res.year}${res.grade} removido`
        this.$snotify.success(msg, 'Sucesso')
      } catch (error) {
        const e = generateError(error)
        this.$snotify.error(e.message, e.title)
      }
    }
  }
}
</script>

<style lang="sass">
  .v-input.expanding-search
    transition: max-width 0.3s
    .v-input__slot
      cursor: pointer !important
      &:before, &:after
        border-color: white !important
    &.closed
      max-width: 45px
      .v-input__slot
        background: transparent !important

</style>
