<template>
  <v-layout row wrap justify-center align-center>
    <v-flex xs12 sm8 md6>
      <v-card>
        <v-card-title>
          <h1 class="headline pa-5">
            Novo livro
          </h1>
        </v-card-title>
        <v-card-actions class="pa-5">
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
          >
            <v-row align="center">
              <v-col
                class="d-flex"
                cols="12"
                sm="12"
              >
                <v-layout row wrap>
                  <v-flex
                    v-for="item in models"
                    :key="item.key"
                    md12
                  >
                    <v-text-field
                      v-if="item.key !== 'subject'"
                      v-model="item.value"
                      dense
                      class="pa-5"
                      :label="item.label"
                      :rules="item.rules"
                      clearable
                      outlined
                      required
                    />
                    <v-textarea
                      v-if="item.key === 'subject'"
                      v-model="item.value"
                      dense
                      class="pa-5"
                      :label="item.label"
                      :rules="item.rules"
                      clearable
                      outlined
                      required
                    />
                  </v-flex>
                </v-layout>
              </v-col>
              <v-layout row wrap class="mx-3 pa-3">
                <v-flex xs12 sm8 md6>
                  <v-btn
                    @click.prevent="createNewBook()"
                    color="green"
                  >
                    Novo livro +
                  </v-btn>
                </v-flex>
                <v-flex md6>
                  <v-btn color="red" to="/books">
                    Cancelar
                  </v-btn>
                </v-flex>
                <v-flex xs12 sm8 md6 :disabled="$wait.is('creating book')">
                  <v-wait for="creating book">
                    <template slot="warning">
                      <img width="32" height="32" src="loading.gif"></img>
                    </template>
                  </v-wait>
                </v-flex>
              </v-layout>
            </v-row>
          </v-form>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapActions } from 'vuex'
import { each } from 'lodash'
import generateError from '~/static/js/generateError'

export default {
  data: () => ({
    valid: false,
    models: [
      {
        key: 'title',
        label: 'Título',
        value: '',
        rules: [
          v => !!v || 'Não pode ser vazio'
        ]
      },
      {
        key: 'author',
        label: 'Autor',
        value: '',
        rules: [
          v => !!v || 'Não pode ser vazio'
        ]
      },
      {
        key: 'publishing_company',
        label: 'Editora',
        value: '',
        rules: [
          v => !!v || 'Não pode ser vazio'
        ]
      },
      {
        key: 'year',
        label: 'Ano',
        value: '',
        rules: [
          v => !!v || 'Não pode ser vazio'
        ]
      },
      {
        key: 'edition',
        label: 'Edição',
        value: '',
        rules: [
          v => !!v || 'Não pode ser vazio'
        ]
      },
      {
        key: 'isbn',
        label: 'ISBN',
        value: '',
        rules: [
          v => !!v || 'Não pode ser vazio'
        ]
      },
      {
        key: 'pages',
        label: 'Páginas',
        value: '',
        rules: [
          v => !!v || 'Não pode ser vazio'
        ]
      },
      {
        key: 'subject',
        label: 'Assunto',
        value: '',
        rules: [
          v => !!v || 'Não pode ser vazio'
        ]
      }
    ]
  }),
  methods: {
    ...mapActions('books', { createBook: 'create' }),
    async createNewBook () {
      this.$wait.start('creating book')
      try {
        const newBook = {}
        each(this.$data.models, function (item) {
          if (item.key === 'year' || item.key === 'pages') {
            item.value = parseInt(item.value)
          }
          newBook[item.key] = item.value
        })
        const res = await this.createBook(newBook)
        this.$snotify.success(`Livro "${res.title}" criado`)
        this.$wait.end('creating book')
        this.$router.push(`/books/${res.id}`)
      } catch (error) {
        const e = generateError(error)
        this.$snotify.error(e.message, e.title)
        this.$wait.end('creating book')
      }
    }
  }
}
</script>
