<template>
  <v-layout row wrap>
    <v-flex v-if="!areBooksLoading" xs12 class="pa-2">
      <v-card>
        <v-card-title>
          <h4> Descrição de livros </h4>
        </v-card-title>
        </v-card-content>
          Total: {{ $store.state.books.ids.length }}
        </v-card-content>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'

export default {
  computed: {
    ...mapState('books', { areBooksLoading: 'isFindPending' }),
    ...mapGetters('books', { find: 'findBooksInStore' }),
    async total () {
      const books = await this.findBooksInStore().data
      return books.length
    }
  },
  async created () {
    if (!this.$store.state.auth.user) {
      await this.authenticate({ strategy: 'jwt', accessToken: this.$store.state.auth.accessToken })
    }
    this.findBooks({ query: { $limit: 100 } })
  },
  /*
  async asyncData () {
    const series = []

    series[0] = , {
      query: {
        $limit: 100,
        userId: {
          $eq: 'null'
        },
        reservation_date: {
          $eq: 'null'
        },
        withdrawn_date: {
          $eq: 'null'
        }
      }
    }).total

    series[1] = await this.$store.dispatch('books/find', {
      query: {
        $limit: 100,
        reservation_date: {
          $ne: 'null'
        }
      }
    }).total

    series[2] = await this.$store.dispatch('books/find', {
      query: {
        $limit: 100,
        withdrawn_date: {
          $ne: 'null'
        }
      }
    }).total

    console.log(series)
    return {
      options: {
        labels: ['Disponível', 'Reservado', 'Emprestado']
      }
    }
  },
  */
  methods: {
    ...mapActions('auth', ['authenticate']),
    ...mapActions('books', { findBooks: 'find' })
  }
}
